.idea/
.mvn/
target/
/plugins/gherkin-azertio-plugin/.flattened-pom.xml
/azertio-core/.flattened-pom.xml
/.flattened-pom.xml
*.db.data
*.db.log
*.db.properties
*.db.script
/.claude/scheduled_tasks.lock
